<form #wordTypeForm="ngForm">
    <div>
        <label for="wordType">Select Word Type:</label>
        <select
            id="wordType"
            name="wordType"
            [(ngModel)]="selectedWordType"
            (change)="onWordTypeSelect(); onWordTypeChange()"
            required
        >
            <option *ngFor="let type of wordTypes" [value]="type">
                {{ type }}
            </option>
        </select>
    </div>
    <div *ngIf="wordList.length > 0 && selectedWordType">
        <label for="wordList">Select a Word:</label>
        <select id="wordList" name="wordList" [(ngModel)]="selectedWord">
            <option [value]="null"></option>
            <option *ngFor="let word of wordList" [value]="word">
                {{ word }}
            </option>
        </select>

        <button
            type="button"
            (click)="addToSentence()"
            *ngIf="wordList.length > 0 && selectedWord"
        >
            Add to Sentence
        </button>
    </div>
</form>
