<form #wordTypeForm="ngForm">
    <div>
        <label for="wordType">Select Word Type:</label>
        <select
            id="wordType"
            name="wordType"
            [(ngModel)]="selectedWordType"
            (change)="onWordTypeSelect(); onWordTypeChange()"
            required
        >
            <option *ngFor="let type of wordTypes" [value]="type">
                {{ type }}
            </option>
        </select>
    </div>

    <div *ngIf="wordList.length > 0 && selectedWordType">
        <label for="wordList">Select a Word:</label>
        <select
            id="wordList"
            name="wordList"
            [(ngModel)]="selectedWord"
            (change)="onWordSelect()"
        >
            <option *ngFor="let word of wordList" [value]="word">
                {{ word }}
            </option>
        </select>
    </div>

    <!-- <button type="button" (click)="onWordSelect()">Add to Sentence</button> -->
</form>
