<div
    class="constructed-sentence"
    *ngIf="constructedSentence"
    class="mat-body-1"
>
    <h3>Your Sentence:</h3>
    <p>{{ constructedSentence }}</p>

    <!-- Submit button -->
    <button type="button" class="submit-button" (click)="submitSentence()">
        Submit Sentence
    </button>
</div>

<!-- Display previously submitted sentences -->
<div class="submitted-sentences">
    <h3>Previously Submitted Sentences:</h3>
    <ul>
        <li *ngFor="let submittedSentence of submittedSentences">
            {{ submittedSentence.content }}
        </li>
    </ul>
</div>
