/* Styling for the container */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.constructed-sentence {
    text-align: center;
}

.constructed-sentence h4 {
    font-size: 1.5em;
}

.constructed-sentence p {
    font-size: 1.2em;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.discard-button {
    background-color: white;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #45a049;
}

.submitted-sentences {
    margin-top: 30px;
    text-align: left;
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 600px) {
    div {
        max-width: 100%;
    }
}
