<div>
    <h2>WordJam Express</h2>

    <form [formGroup]="sentenceForm">
        <app-word-selection
            (wordSelected)="onWordSelected($event)"
        ></app-word-selection>
        <div
            *ngIf="
                sentenceForm.get('constructedSentence')?.hasError('required')
            "
        >
            Let's build a sentence!
        </div>
        <app-sentence-display
            [constructedSentence]="
                sentenceForm.get('constructedSentence')?.value
            "
            (submitSentenceClicked)="onSentenceSubmit()"
        ></app-sentence-display>
    </form>

    <div
        *ngIf="submittedSentences$ | async as sentences; else loading"
        class="submitted-sentences"
    >
        <!-- Your table rendering code here using the 'sentences' array -->
        <app-sentences-table
            [submittedSentences]="sentences"
            (sentenceUpdated)="refreshSentences()"
            (sentenceDeleted)="refreshSentences()"
        ></app-sentences-table>
    </div>
    <ng-template #loading>Loading...</ng-template>
</div>
